.black {
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin: 20px;
  padding: 17px;
}
.yellow {
  background-color: rgb(255, 216, 20);
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  border: none;
  border-radius: 24px;
  font-weight: 700;
}
.green {
  background-color: rgb(46, 164, 79);
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 10px;
  font-weight: 700px;
  border: none;
}
.purple {
  background-color: rgb(121, 82, 179);
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding-left: 27px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 27px;
  border-radius: 5px;
  font-weight: 700px;
  border: none;
}
.white {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  margin-left: 8px;
  padding-left: 26px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 26px;
  border-radius: 5px;
  font-weight: 900;
  border-color: rgb(108, 117, 125);
  border-style: solid;
}
.blue {
  background-color: rgb(10, 102, 194);
  color: rgb(255, 255, 255);
  padding-left: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 50px;
  border: none;
  border-radius: 24px;
  font-weight: 800;
}
.white-too {
  background-color: rgb(255, 255, 255);
  color: rgb(10, 102, 194);
  margin-left: 8px;
  padding-left: 27px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 27px;
  border-color: rgb(10, 102, 194);
  border-radius: 20px;
  font-weight: 900;
  border-style: solid;
}
.tahoma {
  font-family: Tahoma;
  font-size: x-large;
  font-weight: bold;
}
.deals {
  font-family: arial;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0px;
}
.sales {
  font-size: large;
  color: red;
  font-style: italic;
  font-family: Arial;
  margin-top: 5px;
}
.course {
  font-family: verdana;
  font-size: large;
  font-weight: bolder;
}
.pro {
  font-size: small;
  color: rgb(44, 45, 46);
  font-weight: 500;
}
#course_too {
  font-size: small;
  font-weight: 600;
  width: 280px;
  font-family: verdana;
}
.course-button {
  background-color: rgb(6, 139, 6);
  color: #fff;
  border-radius: 5px;
  border: 0px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.business {
  font-family: arial;
  font-size: larger;
  font-weight: bolder;
}
.apple {
  font-weight: bold;
  font-family: arial;
  font-size: smaller;
  margin-left: 25px;
}
.learn {
  margin-left: 70px;
  color: blue;
  font-family: arial;
  font-size: smaller;
}
.MacBook {
  font-family: arial;
  color: red;
  font-size: smaller;
  margin-left: 100px;
}
.macone {
  font-family: arial;
  font-size: large;
  font-weight: bolder;
  margin-left: 60px;
  margin-bottom: 6px;
}
.mactwo {
  font-family: arial;
  font-size: x-large;
  font-weight: bolder;
}
.macthree {
  font-family: arial;
  font-size: small;
  font-weight: 600;
  margin-left: 90px;
  margin-top: 8px;
  margin-bottom: 10px;
}
.mac-button {
  margin-left: 100px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: blue;
  color: #fff;
  border-radius: 17px;
  border: none;
}
